@CHARSET "UTF-8";
@media screen and (max-width: 1460px)
{body>div.header div.shadow div.in-sec {
    width: 950px;
}}
.list-top-1 {
    height: 74px;
    position: relative;
    z-index: 5;
    padding-top: 75px;
}
.list-top-1 ul>li {
    float: right;
    position: relative;
}
.list-top-1>ul>li>ul {
    display: none;
}
a.aw-2 {
    display: inline-block;
    padding: 0 14px;
    position: relative;
    clear: both;
    height: 24px;
}
a.aw-2:after {
    content: "";
    position: absolute;
    top: 44%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    right: 0;
    background-image: url(../images/search_arr.png);
    -webkit-background-size: 9px 6px;
    -moz-background-size: 9px 6px;
    -o-background-size: 9px 6px;
    background-size: 9px 6px;
    background-repeat: no-repeat;
    width: 9px;
    height: 6px;
}
.list-top-1>ul>li.order:hover ul {
    display: block;
}
.list-top-1>ul>li.order ul a {
    white-space: nowrap;
    display: block;
    padding: 0 15px;
    line-height: 21px;
}
.list-top-1 ul>li>ul>li{
float: left;
    position: relative;
 }
    .item-list>li.shop .over .btn span.fbadd:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-image: url(../images/add-shop.png);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
 div.body-sec>div.in-sec p#adminAdd>a {
    background-image: url(../images/add-page.png);
    -webkit-background-size: 252px 234px;
    -moz-background-size: 252px 234px;
    -o-background-size: 252px 234px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 77;
    bottom: 210;
    font-size: 0;
    line-height: 0;
}

.list-top-1>ul>li.order ul{
	    position: fixed;
    right:380px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    background-color: #fff;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
    top: 135px;
    width: 75;
    margin-left: 7px;
}
.item-list>li.prod>a.active>div.bg {
    width: 100%;
    position: absolute;
    background-color: #000;
    background-image: transparent;
    top: 0;
    bottom: 0;
    height: auto;
    display: block;
    opacity: .6;
}
div.body-sec>div.in-sec p#adminAll>a {
    background-image: url(../images/select-brightness-button.png);
    -webkit-background-size: 252px 234px;
    -moz-background-size: 252px 234px;
    -o-background-size: 252px 234px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 82;
    bottom: 310;
    font-size: 0;
    line-height: 0;
}

div.body-sec>div.in-sec p#adminDelete>a {
    background-image: url(../images/delete.png);
    -webkit-background-size: 252px 234px;
    -moz-background-size: 252px 234px;
    -o-background-size: 252px 234px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 77;
    bottom: 210;
    font-size: 0;
    line-height: 0;
}

body>div.header div.shadow div.in-sec {
    width: 1460px;
    margin: 0 auto;
    position: relative;
    height: 71px;
}
.item-list>li.shop>a>img.item {
    width: 230px;
    height: 340px;
    background: url(/rsc/front/img/ajax-loader.gif) no-repeat center;
}
.item-list>li.shop>a {
    display: block;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e4e7ea;
}
.item-list>li.shop .over {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 60px;
    display: none;
}
.item-list>li.shop .over .btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.item-list>li.shop .over .btn span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #404040;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 0;
    line-height: 0;
    margin: 0 1px;
    position: relative;
}
.item-list>li.shop .over .btn i {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    width: 100%;
    top: auto;
    display: none;
    font-family: 'Malgun Gothic','맑은 고딕','NanumBarunGothic','나눔바른고딕','NanumGothic','나눔고딕','Tahoma','Nanum Barun Gothic','Apple SD Gothic Neo Bold','Apple SD Gothic Neo','애플 SD 고딕 Neo','dotum',sans-serif;
    font-size: 12px;
    font-weight: normal;
    top: 46px;
    color: #a2a2a5;
}
.item-list>li.shop .info {
    background-color: #fff;
    position: relative;
    height: 60px;
    padding-left: 14px;
    color: #a2a2a5;
}
.item-list>li.shop.F strong {
    color: #e6178f;
}
.item-list>li.shop .info strong {
    display: block;
    padding-top: 13px;
}
.item-list>li.shop .info strong i {
    color: #202022;
    padding-right: 4px;
}
.item-list>li.shop .info span {
    width: 125px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.item-list>li.shop .info em {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    right: 14px;
    display: block;
    width: 54px;
    line-height: 32px;
    padding: 0 0 0 11px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    letter-spacing: -0.08em;
    color: #202022;
}
.item-list>li.shop.F>a.active .info em:after{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-image: url(../images/chkF.png);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 6px;
}
.item-list>li.shop.M>a.active .info em:after{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-image: url(../images/chkM.png);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 6px;
}

.item-list>li.shop .info em:after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-image: url(../images/chkNo.png);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 6px;
}
.item-list>li.shop.M strong {
    color: #0fb6c5;
}
.item-list>li.shop:hover .over>div.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: .6;
}
.item-list>li.shop>a:hover .over {
    display: block;
}
.item-list>li.shop .over .btn span.fb:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-image: url(../images/garbage.png);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.list-top-1 .sep{
	padding-left: 10px;
    position: absolute;
    top:95;
	font-size:x-large;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    left: 15px;
    white-space: nowrap;
}
.list-top-1 .notice-2{
	padding-top: 15px;
}
.list-top-1 .option-sec-2 {
       top: 84;
}
.item-list>li.shop .over .btn span:hover {
    background-color: #fff;
}
.item-list>li.shop .over .btn span:hover+i {
    display: block;
}

.item-list {
    overflow: hidden;
    position: relative;
    width: 1416px;
   padding-top: 16px;
}
div.body-sec>div.in-sec p.privacy-fixed {
    position: fixed;
    bottom: 20px;
    width: 1560px;
    height: 60px;
    left: 50%;
    margin-left: -780px;
}
div.body-sec>div.in-sec p#adminPf>a {
    background-image: url(../images/home.png);
    -webkit-background-size: 252px 234px;
    -moz-background-size: 252px 234px;
    -o-background-size: 252px 234px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 80;
    bottom: 120;
    font-size: 0;
    line-height: 0;
}
.modal2{
	display: none;
}
.item-list>li.prod>a:hover .info {
    top: 0;
    z-index: 3;
}
.item-list>li.prod .info i s {
    display: inline-block;
    margin-right: 5px;
    opacity: .5;
}
.item-list>li.prod .info {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
}
.item-list>li.prod>a:hover .info>span.name {
    color: #fff;
    width: 75%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -30px;
}
body .detail-search input:checked+label{
	    color: #e6178f !important;
}
.item-list>li.prod>a:hover .info>span.shop {
    font-size: 14px;
    width: 100%;
    margin-top: -48px;
}
.item-list>li.prod>a>div.bg {
    display: none;
}
.item-list>li.prod>a:hover>div.bg {
    width: 100%;
    position: absolute;
    background-color: #000;
    background-image: transparent;
    top: 0;
    bottom: 0;
    height: auto;
    display: block;
    opacity: .6;
}
.item-list>li.prod>a:hover .info .btn span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #404040;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 12px;
    font-size: 0;
    line-height: 0;
    margin: 0 1px;
    position: relative;
}
.item-list>li.prod.F .info .shop {
    color: #e6178f;
}

.item-list>li.prod>a:hover .info .btn i {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    width: 100%;
    top: auto;
    display: none;
    font-family: 'Malgun Gothic','맑은 고딕','NanumBarunGothic','나눔바른고딕','NanumGothic','나눔고딕','Tahoma','Nanum Barun Gothic','Apple SD Gothic Neo Bold','Apple SD Gothic Neo','애플 SD 고딕 Neo','dotum',sans-serif;
    font-size: 12px;
    font-weight: normal;
    top: 44px;
    color: #a2a2a5;
}
.item-list>li.prod>a:hover .info .btn span.fb:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-image: url(../images/garbage.png);
    -webkit-background-size: 252px 234px;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
.item-list>li.prod .info .btn {
    display: none;
}
.item-list>li.prod>a>img {
    width: 230px;
    background: url(/rsc/front/img/ajax-loader.gif) no-repeat center;
}
.item-list>li.prod>a:hover .info .btn span:hover+i {
    display: block;
}
.item-list>li.prod.M .info .shop {
    color: #0fb6c5;
}
.item-list>li.prod>a:hover .info>span {
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.item-list>li.prod .info em, .item-list>li.prod .info i {
    position: absolute;
    bottom: 8px;
    color: #fff;
}
.item-list>li.prod .info em {
    font-family: DINPro_R,sans-serif;
    font-weight: normal;
    font-style: normal;
    left: 12px;
}
.item-list>li.prod>a:hover .info .btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    margin-top: 24px;
}
.item-list>li.prod .info span.shop, .item-list>li.prod .info span.name {
    display: none;
}
.list-top-1 .option-sec-1{
	top: 85px;
}
.item-list>li.prod>a {
    display: block;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e4e7ea;
}
.item-list>li.prod .info i {
    font-family: DINPro_M,sans-serif;
    font-weight: 500;
    font-style: normal;
    right: 12px;
    letter-spacing: 0;
}
.item-list>li.prod>a:hover .info .btn span:hover {
    background-color: #fff;
}
.item-list>li.prod>a:hover .info {
    top: 0;
    z-index: 3;
}
div.body-sec>div.in-sec .footer-sec{
	    min-height: 48px;
    padding-bottom: 0px;
    position: absolute;
}
.modal2 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
}
.amodel2 {
   background-color: #fefefe;
    margin: 9% auto 15% auto;
    border: 1px solid #888;
    width: 440;
    height: 340;
    border-radius: 10px 10px 10px 10px;
    
}
.imgcontainer {
    text-align: center;
    margin: 60px 0 12px 0;
    position: relative;
}
.amodel2 img.avatar {
    width: 40%;
    border-radius: 10%;
    margin-left: 14;
}
.amodel2 .reg {
    padding: 0;
    text-align: center;
}
.amodel2 .container {
    padding: 16px;
    margin-top: 20px;
}
.amodel2 input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fafafc;
    border: 1px solid #e4e6e9;
    margin-top: -1px;
}
.amodel2 .cancelbtn {
    width: 70.4%;
    padding: 10px 18px;
    background-color: #c0c0c0;
    text-align: center;
    margin-left: 60px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
}
.amodel {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
   width: 250px;
    height: 100px;
    border-radius: 10px 10px 10px 10px;
}
.amodel div {
    margin-top: 5px;
    padding: 0 10px;
    float: left;
    width: 70px;
    height: 90px;
    border: 1px solid black;
    border-radius: 60px;
}
.amodel div span {
    float: left;
    font-size: 33px;
    margin-top: 32px;
}

.amodel .adF{
	margin-left: 23px;
	cursor: pointer;
}
.amodel .adM{
	margin-left: 20px;
	cursor: pointer;
}

.close {
    position: absolute;
    right: 200px;
    top: 80px;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: lighter;
    cursor: pointer;
}

body>div.header div.shadow>div {
    border-bottom: 1px solid #d0d0d0;
}
body>div.header div.shadow {
    padding-bottom: 3px;
    background: url(/rsc/front/img/bg-gnb-1.png) repeat-x bottom;
    position: relative;
    z-index: 1;
}
body>div.header {
    position: fixed;
    width: 100%;
    z-index: 6;
    top: 0;
}
body>div.header h1 {
    position: absolute;
    left: 30px;
    top: 7px;
}
body>div.header h1 a {
    background-image: url(../images/logo.png);
    -webkit-background-size: 252px 234px;
    -moz-background-size: 252px 234px;
    -o-background-size: 252px 234px;
    background-size: 120px 28px;
    background-repeat: no-repeat;
    width: 120px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    display: block;
}

div.body-sec {
    height: 100%;
    position: relative;
}
div.body-sec>div.in-sec {
    width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

div.body-sec>div.in-sec>div.footer {
    padding-bottom: 62px;
}

div.body-sec>div.in-sec>div {
    min-height: 870px;
    padding-bottom: 20px;
}

div.body-sec>div.in-sec>div {
    min-height: 660px;
    padding-bottom: 20px;
}
.list-top-2>.in {
    padding-top: 75px;
    height: 117px;
}
.tab-type-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: 37px;
}
.tab-type-2 ul {
    overflow: hidden;
}
.tab-type-2 ul li.single {
    float: none;
    height: 22;
}
.tab-type-2 ul li.active a {
    color: #202022;
    cursor: default;
}
div.body-sec>div.in-sec>div.footer div.in-sec-2 {
    bottom: 52px;
}

div.body-sec div.in-sec-2 {
    position: fixed;
    left: 0;
    top: 250px;
    right: 0;
    bottom: 0;
}
.mypage-btn {
    width: 600px;
    margin: -100px auto 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
a:link, a:visited {
    color: #202022;
    text-decoration: none;
    cursor: pointer;
}
div.footer-sec>div>.in-sec {
    width: 1410px;
    border-top: 1px solid #e0e0e0;
}
div.footer-sec>div {
    width: 1440px;
}
.list-top-2 {
    position: relative;
    z-index: 2;
}
.tab-type-2 ul li a {
    font-size: 18px;
    display: block;
    padding: 0 13px 0 17px;
    line-height: 100%;
    position: relative;
    color: #a2a2a5;
}
.mypage-btn li {
    float: left;
    padding: 0 5px 10px;
}
div.footer-sec {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}
@media screen and (max-width: 1460px)
{div.footer-sec>div {
    width: 950px;
}}
body>div.header div.shadow div.in-sec div.title{
	position: absolute;
    left: 16%;
    font-size:20px;
    font-weight:400;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    top: 26px;
}
.mypage-btn li a {
    display: block;
    width: 110px;
    height: 110px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}

.mypage-btn li a em {
    position: absolute;
    min-width: 23px;
    line-height: 23px;
    color: #fff;
    font-family: DINPro_M,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #e6178f;
    top: 12px;
    right: 12px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    font-size: 12px;
}
body .mypage-btn li.login a:before {
    background-image: url(../images/command.png);
    -webkit-background-size: 36px, 38px;
    -moz-background-size: 36px, 35px;
    -o-background-size: 36px, 38px;
    background-size: 36px, 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}


.mypage-btn li.recent-prod a:before {
    background-image: url(../images/price-tag.png);
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}
.mypage-btn li a:before {
    content: "";
    margin: 25px auto 16px;
    display: block;
}
.mypage-btn li.login a:before {
    margin-top: 24px;
}
.mypage-btn li.recent-shop a:before {
    background-image: url(../images/store.png);
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}

.mypage-btn li.coupon a:before {
    background-image: url(../images/document.png);
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}
@media screen and (max-width: 1460px)
{div.footer-sec>div>.in-sec {
    width: 920px;
}}
div.footer-sec>div>.in-sec>div {
    border-top: 1px solid #fff;
}
.mypage-btn li.favor a:before {
    background-image: url(../images/question.png);
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}
body>div.header div.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    background-color: #fff;
    opacity: .97;
}
div.footer-sec p.copyright {
	text-align: center;
    font-size: 11px;
    font-family: DINPro_R,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: 0;
    word-spacing: 0;
}
div.body-sec>div.in-sec>div.admin {
    min-height: 660px;
    padding-bottom: 150px;
}
.logout{
	    float: right;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 52px;
}
.divList{
	width:700px;
	margin: 0 auto;
}
.tr_center{
	text-align: center;
}
table.List{
	width:700px;
	margin: 0;
	padding: 0;
	border: solid silver 1px;
	border-collapse: collapse;
}

table.List th{
	background-color: #c0c0c0;
	border: solid silver 1px;
}

table.List td{
	border: solid silver 1px;	
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding-top: 60px;
}
.amodelEdit{
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 480;
    height: 510;
    border-radius: 10px 10px 10px 10px;
}
.admindivEdit{
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	border: 0.5px solid silver;
	background-color: white;
}
.imgcontainer {
    text-align: center;
    margin: 60px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 10%;
    
}
.text{
	width:200px;
	height: 30px;
}

