@CHARSET "UTF-8";

/*자게 qna에서 사용할 css  */
.divFrm2{
		margin: 0 auto;
		width: 700px;
		text-align: center;
		margin-bottom: 200px;
}
.divList2{
		margin: 0 auto;
		width: 700px;
		text-align: center;
}
.divReply{
	margin: 0 auto;
	width: 700px;
	text-align: center;
	margin-top: 20px;
}

.topMargin{
	margin-top: 150px;
}
.btn_default.btn_light {
    padding: 0;
}
.btn_default {
	text-decoration:none;
	background:white;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 10px -3px #aaa;
    -moz-box-shadow: 0 3px 10px -3px #aaa;
    box-shadow: 0 3px 10px -3px #aaa;
    font-size: 15px;
    
}
.size_M{
	padding: 10px 40px;
    width: 80px;
    font-size: 15px;
}
.size_S{
	padding: 10px 40px;
    width: 60px;
    font-size: 15px;
}
.btn_large {
    height: 40px;
    width: 150px;
    font-size: 20px;
    line-height: 35px;
}
.btn_light {
    padding: 4px 9px;
    color: #666;
    border: 1px solid #ccc;
    background-color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.btn_BaW {
	
    /* background-color: #1A70DC; */
    background-color: #FF00CC;
}


.divFrm2 input[type=text] {
    height: 40px;
    border: 1px solid #e4e6e9;
    text-indent: 12px;
    width: 80%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
}

.divFrm2 textarea {
    border: 1px solid #e4e6e9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 140%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    height: 300px;
    
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.float_clear{
	clear: both;
}
.align_center{
	text-align: center;
}
.mCenter{
	margin: 0 auto;
}
.align_left{
	text-align: left;
}
.align_right{
	text-align: right;
}
.btn .btn_BaW {
	color: #FFFFFF;
}
.top_Padding{
	padding-top: 10px;
}
.bTitle input[type=text]{
	padding: 5px;
}
.boardContent{
		border: 1px solid #CECECE;
		background: white;
		padding: 15px;
		margin-top: 5px;
		text-align: left;
}
.listTable{
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CECECE;
}
.listTable tr td{
	border-bottom: 1px solid #CECECE;
	border-top: 1px solid #CECECE;
	padding-top: 3px;
	padding-bottom: 3px;
}
.listTable th{
	background: #747474;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 15px;
}
.listTable td:nth-child(2){
	padding-left:7px;
	text-align: left;
}
.listTable td:nth-child(1){
	font-size: 0.8em;
}
.listTable td:nth-child(4){
	font-size: 0.7em;
}
.listTable td:nth-child(4){
	font-size: 0.7em;
}
.noneDeco a{
	text-decoration: none;
}
.btReply{
	padding-top:20px;
	width: 70px;
	height: 45px;
	float: left;
	background-color: #FF33CC;
}
#rContent{
	width:89%;
	padding:7px;
	float: left;
}
.rContent{
	width:90%;
	padding:7px;
	float: left;
}
#rerContent{
	padding:7px;
	float: left;
}
#searchKey{
	width:150px;
	height: 20px;
	
}
.replyList{
	background: #fff;
	width: 100%;
	border: 1px solid #CECECE;
	border-collapse: collapse;
}
.replyList td{
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}
.replyList td:nth-child(2){
	padding-left:7px;
	text-align: left;
	font-size: 0.9em;
}

.replyList td:nth-child(3){
	font-size: 0.7em;
}

.replyList td:nth-child(1){
	font-size: 0.8em;
	font-weight:bold;
	border: 1px solid #CECECE;
	background: #F5F5F5;
	padding-top: 5px;
	padding-bottom: 5px;
}
#replyDel{
	font-size: 1em;
	font-weight: bold;
	color: red;
}
.btReReply{
	padding-top: 2px;
	width: 40px;
	height: 31px;
	float: left;
	background-color: #FF33CC;
}
.dateSpan{
	font-size: 0.8em;
}
.gbnReply{
	padding-left: 15px;
}
.user_Img{
	width: 100px;
	height: 100px;
	margin: 5px;
	padding:5px;
	border:1px solid #CECECE;
}
.upsideDetail{
	background-color:#fff;
	width: 100%;
	height:150px;
	border: 1px solid red;
	font-weight: bold;
}
.detailTitle{
	width: 676px;
	height:30px;
	border:1px solid #CECECE;
	background: #EFEFEF;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	padding: 10px;
	padding-bottom: 0;
}
.user_info{
	width:200px;
	height:100px;
	margin: 5px;
	padding:5px;
	text-align: left;
}
.nickName{
	font-size: 16px;
	font-weight: bold;
}
.email{
	font-size:13px;
}
#btSearch2{
	color:#fff;
	outline: 0;
	border:3px solid #CECECE;
	background-color: #FF33CC;
}
.boardImage{
	margin: 0 auto;
	margin-top:3px;
	border:1px solid #CECECE;
	max-width: 698px;
	
}
.topPadding{
	padding-top: 15px;
}
div.body-sec>div.in-sec>div {
    min-height: 0;
}

.adminlistTable{
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CECECE;
}
.adminlistTable tr td{
	border-bottom: 1px solid #CECECE;
	border-top: 1px solid #CECECE;
	padding-top: 3px;
	padding-bottom: 3px;
}
.adminlistTable th{
	background: #747474;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 15px;
}
.adminlistTable td:nth-child(3){
	padding-left:7px;
	text-align: left;
}
.adminlistTable td:nth-child(2){
	font-size: 0.8em;
}
.adminlistTable td:nth-child(5){
	font-size: 0.7em;
}

	
img, fieldset {
    border: 0 none transparent;
}

.bottomMargin{
	margin-bottom: 200px;
}

.boardContent img{
	max-width: 670px;
	
}

#bContent{
	height: 600px;
}

#upBoardImage{
	margin-top:15px;
	max-width: 698px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
}
#imageView{
	max-width: 300px;
}
div.body-sec>div.in-sec>div{
	margin-bottom: 0;
	
}
.in-sec{
	margin-bottom: 200px;
}