@CHARSET "UTF-8";
div.footer-sec {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
}
div.footer-sec>div {
    width: 1440px;
    margin: 0 auto;
}
div.footer-sec>div>.in-sec {
    width: 1410px;
    margin: 0 auto;
    border-top: 1px solid #e0e0e0;
}
div.footer-sec>div>.in-sec>div {
    border-top: 1px solid #fff;
}
div.footer-sec ul {
    float: left;
}
div.footer-sec ul li {
    float: left;
}
div.footer-sec ul li:first-child a {
    padding-left: 0;
}
div.footer-sec ul li a {
    display: block;
    margin-top: 11px;
    line-height: 50px;
    padding: 0 6px 0 7px;
}
div.footer-sec p.copyright {
    float: right;
    font-size: 11px;
    font-family: DINPro_R,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: 0;
    word-spacing: 0;
}
@media screen and (max-width: 1460px)
{div.footer-sec>div>.in-sec {
    width: 920px;
}}
@media screen and (max-width: 1460px)
{div.footer-sec>div {
    width: 950px;
}}