@CHARSET "UTF-8";
div.body-sec {
    height: 100%;
    position: relative;
}
div.body-sec>div.in-sec {
    width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
div.body-sec>div.in-sec>div.footer {
    padding-bottom: 62px;
}
div.body-sec>div.in-sec>div {
    min-height: 660px;
    padding-bottom: 20px;
}
.list-top-2 {
    position: relative;
    z-index: 2;
}
.list-top-2>.in {
    padding-top: 75px;
    height: 117px;
}
.tab-type-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: 37px;
}
.tab-type-2 ul {
    overflow: hidden;
}
.tab-type-2 ul li.single {
    float: none;
   height: 22;
}
.tab-type-2 ul li {
    float: left;
}
.tab-type-2 ul li a {
    font-size: 18px;
    display: block;
    padding: 0 13px 0 17px;
    line-height: 100%;
    position: relative;
    color: #a2a2a5;
}
.tab-type-2 ul li.active a {
    color: #202022;
}
.nlink {
    cursor: default !important;
}
.mypage-btn {
    width: 360px;
    margin: -100px auto 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mypage-btn li {
    float: left;
    padding: 0 5px 10px;
}
div.body-sec>div.in-sec>div.footer div.in-sec-2 {
    bottom: 52px;
}
div.body-sec div.in-sec-2 {
    position: absolute;
    left: 0;
    top: 192px;
    right: 0;
    bottom: 0;
}
.mypage-btn li a {
    display: block;
    width: 110px;
    height: 110px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}
.mypage-btn li.login a:before {
    margin-top: 24px;
}
.mypage-btn li.recent-prod a:before {
    background-image: url("../images/price-tag.png");
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}
.mypage-btn li a:before {
    content: "";
    margin: 25px auto 16px;
    display: block;
}
.mypage-btn li a em {
    position: absolute;
    min-width: 23px;
    line-height: 23px;
    color: #fff;
    font-family: DINPro_M,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #e6178f;
    top: 12px;
    right: 12px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    font-size: 12px;
}
.mypage-btn li.recent-shop a:before {
    background-image: url("../images/store.png");
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}
.mypage-btn li.coupon a:before {
    background-image: url("../images/percent.png");
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size:36px 35px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}
.mypage-btn li.favor a:before {
    background-image: url("../images/starB.png");
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}
.mypage-btn li.follow a:before {
    background-image: url("../images/heart.png");
    -webkit-background-size: 36px 35px;
    -moz-background-size: 36px 35px;
    -o-background-size: 36px 35px;
    background-size: 36px 35px;
    background-repeat: no-repeat;
    width: 36px;
    height: 35px;
}
