@CHARSET "UTF-8";
body.F>div.header ul.gnb li div.depth2 dt {
    color: #e6178f;
}
body.F>div.header a.gender.m {
    opacity: .2;
}
body.F>div.header a.gender.f {
    cursor: default;
}
body.F>div.header ul.gnb li.active>a {
   border-color: #e6178f;
}
body.F>div.header div.login p:after {
    /* background-image: url("/rsc/front/img/sprite.png?_1471437666729"); */
    -webkit-background-size: 252px 234px;
    -moz-background-size: 252px 234px;
    -o-background-size: 252px 234px;
    background-size: 252px 234px;
    background-repeat: no-repeat;
    background-position: -167px -111px;
    width: 20px;
    height: 28px;
}
